{% extends "base.html" %}
{% load static %}
 
{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">


<div class="container"> 
    <div class="main">
        {% comment %} <img alt="Shopping" src="Shopping.jpg" width=100 height=100> {% endcomment %}
        <div class="text-over-image">
            <h1>Gen-Na's Online Store</h1>
            <p>Food | Beverage | Fashion | Furnitures | Gadgets | Pet Supplies</p>
        </div>            
    </div>
</div>


    
       
{% endblock content %}