
body {
    /* background-image: url('Shopping.jpg'); */
    background-color: rgb(182, 201, 182);
  }

h1 {
    font-weight: bold;
}

.text-over-image {
    text-align: center;
    font-family: cursive;
    font-weight: 300;
    margin-top: 20px;
}


